* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* background-image: url(../img//bg.png); */
  width: 100%;
}

/* header opacity */

.bg-dark {
  opacity: 0.9;
}

.text-hover:hover {
  border-bottom: 1px solid #dc143c;
}

.site-pro {
  margin-left: 40%;
  transform: rotate(0deg);
}

.footer {
  margin-top: 5em;
}

.text-stroke {
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000000;
  text-shadow: 2px 2px 2px #000000;
}

.text-strk {
  color: #000000;
}
/* home page project folder */
.projects {
  margin-top: 1%;
  position: absolute;
  top: 25%;
  left: 10%;
}

.container-flie {
  position: relative;
  text-align: center;
}

.ml-file {
  margin-left: 25%;
}

.ml-c {
  margin: auto;
}

.btn-c {
  border-bottom: 1px solid #dc143c;
}

.btn-mc {
  margin-top: 0;
  margin-left: 35%;
}
/* end */

.footer {
  margin-top: 17%;
}

/* .p-hover {
  box-shadow: 1px 1px 5px 1px #0000ff;
} */

.p-hover:hover {
  border: none;
  /* border-left: #dc143c solid ;
    border-top: #dc143c solid ; */
  box-shadow: 1px 1px 5px 1px #ec1f1f;
  background: linear-gradient(#ec1f1f, #acf3be, #bfacf3);
  transform: translate(-10px);
  transform: translateY(-10px);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: ease-in-out 0.2s;
  z-index: 100;
}

.file-folder:hover {
  transform: translateX(-20px);
  transform: translateY(-10px);
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition: ease-in-out 0.4s;
  z-index: 100;
}

.file-folder .text-hover:hover {
  transform: translateX(-20px);
  transition: ease-in-out 0.2s;
}
.about-project {
  position: relative;
  top: 20px;
  z-index: 2;
}
.about-project:hover {
  background: #262626;
  color: #ffffff;
}
/* Animate skills */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 40vh;
  background: #262626;
}
/* skills animation in footer */
.box {
  position: relative;
  width: 200px;
  transform-style: preserve-3d;
  animation: animate 20s linear infinite;
}
@keyframes animate {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(0deg);
  }
}
.box span {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(300px);
}
.box img {
  /* transform:rotateX(180deg); */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%;  */
  object-fit: cover;
  opacity: .8;
}
.skills{
    padding-top:1em;
    font-size:3em;
    color: #fff;font-weight: bold;       
}
#project_1,
#project_2 {
  position: absolute;
  top: -300px;
  z-index: 1;
}
